<ion-header>
  <ion-toolbar>
    <ion-title>Tarefas a fazer</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onSave('create')">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <p *ngIf="tasks && tasks.length == 0; else tasksList">Não existem tarefas para exibir</p>

  <ng-template #tasksList>
    <ion-list>
      <ion-item-sliding *ngFor="let task of tasks" #itemSliding>
        <ion-item>
          <ion-checkbox [ngModel]="task.done" (ngModelChange)="task.done=$event; taskProvider.update(task)"></ion-checkbox>
          <ion-label>{{ task.title }}</ion-label>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="onSave('update', itemSliding, task)">
            <ion-icon name="create"></ion-icon>
            Editar
          </button>
          <button ion-button color="danger" (click)="onDelete(task)">
            <ion-icon name="trash"></ion-icon>
            Deletar
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-template>
</ion-content>
